.card {
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 200px;
height: 270px;
background-color: whitesmoke;


align-items: center;

display: flex;
flex-direction: column;
  }
  

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  

  .container {
    padding: 2px 16px;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
  }
  img {
    border-radius: 5px 5px 0 0;
  }
  .type{
      display: flex;
      flex-direction: row;
      position: relative;
bottom: 20px;
text-align: center;
  }
  .type p{
      display:flex;
      margin-right: 10px;
      margin-left: 10px;
  }